body {
    font-family: helvetica, italic, sans-serif;
    margin: 2em;
    color:black;
  }
  
  
  h1 {
    font-style: italic;
    color: black;
  }
  
  h2 {
    font-style: italic;
    color:black;
  }
  
  h4 {
    font-style: italic;
    color:black;
  }
  div {
    background-color: grey;
  }